.border {
    background-color: #B2B2B2;
}


.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #00AB8E;
    border: none;
    color: #FFFF;
    padding: 2%;
}

.error-box {
    background-color: red;
    text-align: center;
    color: white;
}

