.create {
    background-color: #00AB8E;
    width: 35%;
    border: none;
    color: white;
}

.cancel {
    background-color: #ff5471;
    width: 35%;
    border: none;
    color: white;
}

.button {
    width: 100%;
}

.container {
    position: relative;
}

.table {
    z-index: -1;
}

.create-course {
    background-color: #00AB8E;
    width: 40%;
    color: white;
    border: none;
}

.footer {
    width: 100%;
}
