.board-container {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
}
.exercise-wrapper {
    height: calc(100% - 56px);
}
.board-actions-container {
    display: flex;
    flex-grow: 1;
    height: 50px;
    border-bottom: 1px solid rgba(186, 186, 186, 0.52);
    align-items: center;
    padding: 0px 10px;
}
.board-actions-container > * {
    margin-right: 10px;
}
.place-right {
    margin-left: auto;
}