.create {
    background-color: #00AB8E;
    width: 50%;
}

.cancel {
    background-color: #ff5471;
    width: 50%;
}

.create-course-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D3D3D3;
    border-radius: 30px;
    padding: 3%;
    margin: 3%;
    z-index: 1;
    position: absolute;
}

.button {
    width: 100%;
}

.container {
    position: relative;
}

.table {
    z-index: -1;
}

.create-course {
    background-color: #00AB8E;
    width: 25%;
    color: white;
}

.rounded {
    border: none;
}

