.exercise-id {
    margin-right: 10px;
}

.create-btns {
    margin: 2px 4px;
    height: 40px;
    display: flex;
}

.is-invisible {
    opacity: 0.5;
}

.input-field {
    background-color: #ffffff00;
    border: none;
    flex-grow: 1;
}
.text-area {
    resize: none;
    border: none;
    width: 100%;
    max-height: 400px;
}
.text-area:focus-visible {
    border: none;
    outline: none;
}
.input-field:focus-visible {
    border: none;
    outline: none;
}

.exercise-container {
    align-items: center;
    flex-grow: 1;
    border: 1px solid gray;
    padding: 7px;
}
.exercise-container + .exercise-container {
    border-top: none;
}
.exercise-container:hover {
    background-color: #d2d2d26e !important; 
    cursor: pointer;
}

.course-title {
    font-weight: bold;
    text-align: center;
}
.course-title-container {
    font-size: 3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.exercises-title {
    font-size: 1.5em;
    font-weight: bold;
}

.accordion-button {
    background-color: #e7f1ff !important;
    color: #0c63e4 !important;
    border: 1px solid #86b7fe !important;
}
.accordion-header {
    margin-top: 4px;
}

.exercise-owner-container {
    margin-left: auto;
    display: flex;
    column-gap: 5px;
    margin-right: 2px;
}